.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  width: 100%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.button {
  position: absolute;
  bottom: 17.5px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}

.button:hover {
  transition: 0.1s all linear;
  transform: translateY(-2px);
}
