@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/HelveticaNeue.ttf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-image: url('../assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #282936;
  height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
}

a {
  font-size: 20px;
  color: #ff00ae;
  text-decoration: none;
}

a:hover {
  transition: 0.1s all linear;
  transform: translateY(-2px);
}

h1 {
  font-size: 120px;
  color: white;
  line-height: normal;
  margin: 0;
}

h2 {
  font-size: 45px;
  color: #bf9cf0;
}

p {
  font-size: 20px;
  color: white;
  font-kerning: normal;
}
