.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  padding: 2.5%;
}

.textbox {
  align-items: center;
  line-height: 1.5;
}

.textbox span {
  color: #f484c5;
}

.copytext {
  margin-left: 25px;
}

.styledtext {
  color: #e7ef93 !important;
}

.greentext {
  color: #59df7c !important;
}

.placeholder {
  width: 600px;
  height: 100%;
  align-self: center;
  background-image: url('../assets/placeholder.png');
}
